|Kedves 
    =@user.name,

|Ezt az e-mailt azért kapod, mert egy jelszó helyreállítási kérés érkezett a GEP.MONSTER fiókodhoz.

|Ha te hoztad létre ezt a kérést, kérjük, kattints az alábbi gombra a jelszavad helyreállításához:

= link_to "Jelszó Helyreállítása", "https://gep.monster/recovery_user?#{@user.recovery}"

|Ha nem te hoztad létre ezt a kérést, ne aggódj, és hagyd figyelmen kívül ezt az üzenetet. A fiókod továbbra is biztonságban van.

|Kérünk, hogy a jelszavadat mindig tartsd bizalmasan, és soha ne oszd meg másokkal. Ha további segítségre van szükséged, kérjük, vegyél fel velünk kapcsolatot a következő e-mail címen: kapcsolat@example.com.

|Köszönjük, hogy használod az alkalmazásunkat!

|Üdvözlettel,
|gep.monster