p Kedves #{@user.name}!

p Ezt az e-mailt azért kapod, mert egy jelszó helyreállítási kérés érkezett a GEP.MONSTER fiókodhoz.

p Ha te hoztad létre ezt a kérést, kérjük, kattints az alábbi gombra a jelszavad helyreállításához:

p
    = link_to "Jelszó Helyreállítása", "https://gep.monster/recovery_user?#{@user.recovery}"

p Ha nem te hoztad létre ezt a kérést, ne aggódj, és hagyd figyelmen kívül ezt az üzenetet. A fiókod továbbra is biztonságban van.

p Kérünk, hogy a jelszavadat mindig tartsd biztonságban, és soha ne oszd meg másokkal. 

p Ha további segítségre van szükséged, kérjük, vegyél fel velünk kapcsolatot a következő e-mail címen: monstergep@gmail.com.

p Köszönjük, hogy használod a gep.monster weboldalt.

p Üdvözlettel,
p Gep.monster csapata