h1 Openai#index
|A chatbot az alábbit kapta:
br 
h3.bg-primary.text-light

    |"Fordítsd le: 'Body of Millionaire's Daughter Found'"
 
br
|OPENAI:
br
= @ant2
br
|DEEPL: 
br
- kamu2 = "Megtalálták a milliomos lányának holttestét"
= kamu2
