  
#main {
  height: 100vh;
  font-family: 'Kenia', sans-serif; /* Betűtípus hozzárendelése */
  font-size: 10rem;
  font-weight: 600;
}
#desc {
  
  font-family: 'Kenia', sans-serif; /* Betűtípus hozzárendelése */
  font-weight: 600;
}